body {
  background-color: #ffff;
}

.container {
  background-color: #2D2D2D;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  padding: 0.8vh;
  display: flex;
  justify-content: center;
}

.containerMain {
  display: flex;
  align-items: center;
}

.imageMain {
  width: 100%;
}

.banner {
  position: absolute;
  margin-left: 8vh;
}

/* --------TEXT------- */
h1, 
h3,
h2,
h4 {
  color: #ffff;
  margin: 0.4vh;
  font-family: 'Poppins', sans-serif;
}

.extraBigTxt {
  font-size: 5vh;
  font-family: 'Poppins', sans-serif;
}

h3 {
  font-size: 2.4vh;
}

.goTo {
  text-transform: uppercase;
  font-size: 2vh;
  color: #ffff;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  background-color: #384837;
  border: none;
}

.link {
  color: #ffff;
  text-decoration: none;
  margin-left: 3vh;
  font-family: 'Poppins', sans-serif;
}


/* --------Green cont------- */
.containerMainGreen {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	align-content: space-around;
}

.greenSpace {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	/* justify-content: space-evenly; */
  margin: 5vh;
  width: 90%;
  padding: 3vh;
  background-color: #384837;
  border-radius: 60px;
}

.greenWriting {
  font-size: larger;
  color: #ffff;
}

/* --------imgs------- */
.imgVs {
  width: 100%;
  border-radius: 5px;
}

/* --------newInn------- */
.newInn {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 5vh;
}

.newInnContainer {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.moreLessBtn {
  padding: 2px;
  background-color: #ffff;
  border: none;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 2vh;
  color: #384837;
}

.newInnTxt {
  text-transform: uppercase;
  font-size: 4vh;
  font-family: 'Poppins', sans-serif;
  margin-left: 5vh;
}

.h3Inn {
  color: #2D2D2D;
}

.newInnImg {
  height: 28vh;
  width: 24vh;
  border-radius: 5px;
}

/* --------footer------- */
.footer {
  background-color: #2D2D2D;
  color: #ffff;
  font-family: 'Poppins', sans-serif;
  padding: 4vh;
}

.containerFooter {
  display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: space-evenly;
}

.spanFooter {
  padding: 1vh;
}

.h1About {
  color: #2D2D2D;
  font-family: 'Poppins', sans-serif;

}

/* --------about us------ */
.containerMainAbout {
  background-color: #F8EEE4;
  padding: 3vh;
  /* position: relative; */
  height: 100%;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.containerAbout {
  background-color: #ffff;
  padding: 6vh;
  width: auto;
}

.aboutUsTxt {
  font-size: 2.3vh;
  display: flex;
  flex-wrap: wrap;
}

.h1AboutUs {
  color: #2D2D2D;
  font-size: 6vh;
}

.imgAbout {
  width: 32vh;
  border-radius: 40px;
  padding: 2vh;
}

.imgAboutSm {
  border-radius: 100px;
  margin-left: 5vh;
  width: 17vh;
  height: 24vh;

}

.box1 {
  display: flex;
}

@media all and (max-width: 900px) {
  .containerMainAbout {
    display: flex;
    flex-direction: row;
  }

  .aboutUsTxt {
    order: 0;
  }

  .imgAbout {
    display: none;
  }


}

/* --------catalogue------ */
.btnOne {
  padding: 0.6vh;
  border-radius: 25px;
  width: 12vh;
  margin: 0.5vh;
  border: 1px black;
  font-family: 'Poppins', sans-serif;
  background-color: #F8EEE4;
}

.btnOne:hover {
  transition: all .6s ease-in;
  background-color: #EEC8C8;
}

.h1Cat {
  color: #2D2D2D;
  margin-top: 3vh;
  font-size: 5vh;
}

.imgCat {
  border-radius: 5px;
}

.hash {
  font-style: italic;
  color: #EEC8C8;
}

.txtCat {
  font-weight: bold;
  font-size: large;
}

.price {
  color: #384837;
  font-weight: bolder;
  font-size: larger;
}

.containerMainCat {
  display: flex;
  flex-direction: column;
  margin: 1.5vh;
  margin-bottom: 1vh;
}

.containerCat {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.containerCatalogue {
  display: flex;
  flex-wrap: wrap;
  padding: 4vh;
}


